<!doctype html>
<html>
  <head>
    <title>Fonts Test</title>
  </head>

  <body>
    <table>
      <thead>
        <tr>
          <th>System Path</th>
          <th>Font Family</th>
        </tr>
      </thead>
      <tbody>
        <%= for font <- fonts do %>
          <tr>
            <td><%= font.path %></td>
            <td>
              <span style="font-family: '<%= font.family %>';">
                <%= font.family %>
              </span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </body>
</html>
